@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat'); 

/*Background colors*/
/*
Nav and footer:
#F1AD1D - Old WCS orange
Categories and Top selling:
About us:
*/








body {
	background-color: rgba(0,0,0,0.06);
}



/*Section padding*/

section {
	padding-bottom: 8%;
}




/*Fonts*/



h1 {
	font-family: 'Montserrat', sans-serif; 
	font-size: 3rem; 
	text-align: center;
	color: #333333;

}

h2 {
	font-family: 'Montserrat', sans-serif; 
	font-weight: 700;
	font-size: 2.5rem; 
	text-align: center;
/*	padding: 20px 0px;*/
	padding-top: 10%;
/*	background-color: yellow;*/
/*	margin-bottom: 10%;*/
	color: #333333;
}


p {
	font-family: 'Lato', sans-serif;
	color: #333333; 
}






/*Seperator*/

.sep {
	display: inline-block;
	width: 80px;
	height: 3px;
	margin: 2% 0% 10% 0%;
	background-color: #F1AD1D;
}


.sep_aboutus {
	display: inline-block;
	width: 80px;
	height: 3px;
	margin: 2% 0% 4% 0%;
	background-color: #f1ad1d;
}


/* header */

nav{
	font-family: 'Lato', sans-serif;
	color: #505050;
	font-size: calc(0.5vw + 12px);
	background-color: #F1AD1D;
	z-index: 1000;
}

.navbar{
	position: fixed;
	opacity:0.5;
}

.navbar:hover{
	opacity: 1;
}

.navbar-brand{
	text-decoration: none;
}

.navbar-toggler {
    background-color: transparent;
    border: solid 1px #505050;
    font-size: 18px;
    padding: 12px 22px;
    color: #505050;
}

.dropdown-menu {
	padding: 20px 200px 20px 20px;
	margin-top: 0.5rem;
	background-color: #505050;
	border: #F1AD1D;
	border-radius: 0px;
}

.a_header{
	margin: 0px 10px;
	color: #505050;
}

.nav-link:hover, .nav-link:active {
	color: #f1ad1d !important;
	background-color: #505050;
	border-radius: 30px;
}

.dropdown-menu .a_header:link, .a_header:visited {
  color: #f1ad1d;
  text-decoration: none;
  display: inline-block;
  background-color: #505050;
}

.dropdown-menu .a_header:hover, .a_header:active {
  color: #505050;
  background-color: #f1ad1d;
}

.img_header {
	max-width: 55px;
	opacity: 1;
}
	
.jumbotron{
	text-align: center;
	overflow: hidden;
	background-image: url(img/shop.jpg);
	max-height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-left: 15rem;
	padding-right: 15rem;
}


.jumbotron h1{
	font-size: calc(6vw + 20px);
	margin-top: 10%;
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1);
	background-color: rgba(241,173,29,1);
	margin-bottom: 5%;
}

.lead{
	margin-bottom: 100%;
	color: black;
	background-color: rgba(255,255,255, 0.8);
	padding-top: 20px;
	padding-bottom: 20px;
}


/*Categorie*/

.categorie-col-12 > .col-12{
	flex: 0 0 50%;
}

.categorie_item{
	
	position: relative;
	display: inline-block;
	margin: 15px 0;
  	height: 250px;
	width: 100%;

}

.categorie_item img{
	
	position: absolute;
	top: 0;
	left:0;
	margin:auto;
	width: 100%;
	height: 250px;
}


.categorie_item_info{
	position: absolute;
	top: 0;
	width: 100%;
	height: 250px;
	background-color: #f0f0f0;
	border: solid 1px #333333;
	padding: 20px;
	opacity: 0;
	
}

.categorie_item_info:hover{
	opacity:1;
}



.categorie_item_title{
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight:700;
	font-size: 18px;
	margin-top: 20px;
	text-align: center;
	color: #333333;
}

.categorie_item_sep{
	display: inline-block;
	width: 65px;
	height: 3px;
	margin: 20px 0px 15px;
	background-color: #f1ad1d;
}

.categorie_item_p{
	font-family:'Lato', sans-serif;
	color: #333333;
	font-size: 14px;
}

/*Button parts */

.btn_itemblock2{
	margin-top: 35px;
}

.btn_itemblock{
	margin-top: 60px;
}

.btn_item{
	text-decoration: none;
	padding: 13px 35px;
	color: white;
	font-size: calc(0.2vw + 10px);
	font-weight: 700;
	background-image: none;
	background-color: #f1ad1d;
}

.btn_item:hover{
	color: #f1ad1d;
	background-color: #333333;
	text-decoration: none;
	border: solid 1px #333333;
}

.btn_item2{
	text-decoration: none;
	padding: 13px 35px;
	color: #f1ad1d;
	font-size: calc(0.2vw + 10px);
	font-weight: 700;
	background-image: none;
	background-color: #505050;
}

.btn_item2:hover{
	color: white;
	background-color: #f1ad1d;
	text-decoration: none;
	border: solid 1px #f1ad1d;
}






/*About Us*/
.border_middle {
  border-top: 3px solid #f1ad1d;
  border-bottom: 3px solid #f1ad1d;
  position: relative;
}
.border_middle:after {
  padding:0;margin:0;display:block;/* probably not really needed? */
  content: "";
  width:100%;
  height:1.1px;/* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
  background-color:#f1ad1d;
  position: absolute;
  right:0;
  top:-1px;
}

.aboutusphoto {
	max-width: 250px;
	border-radius: 50%;
}

.aboutustext {
	font-size: 1.2rem;
	margin-left: 10%;
	margin-right: 10%;
}

.motto {
	 font-style: italic;
}

#about{

	background-color: #505050;
}

.cartouche{
	color: #f1ad1d;
}

.about_texte{
	color: #fcefd2;
	margin-top: 5%;

}





/*Top Selling*/

.h3_style{
	font-family: 'Montserrat', sans-serif;
	font-size: calc(1vw + 14px);
	color: #f1ad1d;
	margin-top: -5%;
}

.card_color{
	color:#333333;
}

.newtopclass {
	padding: 20px;
    width: 100%;
}

.cardmarge25 {
    margin: 25px;
    background-color: transparent;
    border: 1px solid #f1ad1d;
}



/*footer*/

footer{
	background-color: #505050;
	width:100%;
}

.column_footer{
	padding-left:40px;
	padding-right: 40px;
}

.list-group-item{
	padding: 0 0;
}

.categories_footer{
	padding-top: 1.5rem;
	margin-bottom: 4%;
}
.categories_footer li{
	background-color: #505050;
	font-family: 'Lato', sans-serif;
	font-size: calc(10px + 0.15vw);
	color: #505050;
}
.imgfooter{
	max-width: 200px;
	padding-top: 3rem;
}
.h4-footer{
	margin-top: 3rem;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: calc(22px + 0.30vw);
	color: #fcefd2;
}
.address{
	font-size: 1rem;
	color: #fcefd2;
}
.form_title{
	font-family: 'Montserrat', sans-serif;
	font-size: calc(20px + 0.4vw);
	font-weight: 700;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	color: #505050;
	padding: 10px 20px;
	background-color: #f1ad1d;

}

.btn_footer{
	text-decoration: none;
	margin-bottom: 1rem;
	padding: 4px 4px;
	font-size: 14px;
	font-weight: 900;
	background-color: #505050;
	color: #f1ad1d;
	border-radius: 0px;
	border: 1px solid #f1ad1d;
}
.btn_footer:hover{
	background-color: #f1ad1d;
	text-decoration: none;
	border: 1px solid #505050;
}
.formlabel{
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	color: #fcefd2;
}

.form-control{
	font-size: 0.7rem;
	font-family: 'Lato', sans-serif;
	color: rgba(255,255,255,0.4);
}

.a_footer {
	text-decoration: none;

}


li a:link, a:visited {
  color: #e0e0e0;
  padding: .3rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li a:hover, a:active {
  color: #f1ad1d;
  padding: .3rem 1.25rem;
}