body{
	background-color: rgba(O,O,O,O.O5);
}



/*USB Keys page*/


.container {
	padding-top: 30px;
}

.card {
    margin-bottom: 25px;
    background-color: transparent;
	height: 95%;
}




.paginationbar {
	margin-top: 3rem;
	background-color: rgba(0,0,0,0);
}

.card-img-top {
	padding: 20px;
    width: 100%;
}




/*Modals*/


.modalphoto {
	height: 80%;
	width: 80%;
	justify-content: left;
}
/*
.modalhalf {
	size: 50%;
	display: inline-block;
}*/


.usbprice {
	font-style: bold;
	font-size: 1.2rem;
	float: right;
	padding-top: 4rem;
}

.characteristics {
	text-decoration: underline;
}

.btn-primary {
	background-color: #F1AD1D;
	border-color:  #F1AD1D;
}

.usbjumbo {
/*	background-image: url("../usbkeyphotos/usbkeysdark.jpg");*/
	background-color:  	#606060;
}

.whitecent {
	color: white;
		margin: auto;
}

/*.text-block {
	width: 35rem;
	background-color: rgba(0, 0, 0, 0.4);
	margin: auto;
}*/

.orangeb {
	background-color: #F1AD1D !important;
	border-color: #F1AD1D !important;
/*	color: #F1AD1D !important;*/
}

.oranget {
	color: #F1AD1D !important;
}

#formulaire {
	width: 70%;
	max-width: 800px;
	margin: auto;
}

.radioUSB {
	margin-left: 2rem;
}

.send-button {
	float: right;
}

.pushright {
	margin-left: 1rem;
}

.ajout {
	margin-right: 2rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.form-control{
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	color: rgba(0,0,0,1);
}