body{
	background-color: rgba(O,O,O,O.O5);
}



/*USB Keys page*/


.container {
	padding-top: 30px;
}

.card {
    margin-bottom: 25px;
    background-color: transparent;
}


.paginationbar {
	margin-top: 3rem;
}

.card-img-top {
	padding: 20px;
    width: 100%;
}




/*Modals*/


.modalphoto {
	height: 80%;
	width: 80%;
	justify-content: left;
}
/*
.modalhalf {
	size: 50%;
	display: inline-block;
}*/


.usbprice {
	font-style: bold;
	font-size: 1.2rem;
	float: right;
	padding-top: 4rem;
}

.characteristics {
	text-decoration: underline;
}

.btn-primary {
	background-color: #F1AD1D;
	border-color:  #F1AD1D;
}

.usbjumbo {
	/*background-image: url("../usbkeyphotos/usbkeys.jpg");*/
	background-color: light-grey;
}