body{
	background-color: rgba(0,0,0,0.05);
}



/*USB Keys page*/


.container {
	padding-top: 30px;
}

.card {
    margin-bottom: 25px;
    background-color: transparent;
	height: 95%;
}




.paginationbar {
	margin-top: 3rem;
	background-color: rgba(0,0,0,0);
}

.card-img-top {
	padding: 20px;
    width: 100%;
}




/*Modals*/


.modalphoto {
	height: 80%;
	width: 80%;
	justify-content: left;
}
/*
.modalhalf {
	size: 50%;
	display: inline-block;
}*/


.usbprice {
	font-weight: bold;
	font-size: 1.2rem;
	float: right;
	padding-top: 6rem;
	padding-right: 1rem;
}

.characteristics {
	text-decoration: underline;
	margin-top: 1rem;
}

.btn-primary {
	background-color: #F1AD1D;
	border-color:  #F1AD1D;
}

.usbjumbo {
/*	background-image: url("../usbkeyphotos/usbkeysdark.jpg");*/
	background-color:  	#606060;
}

.whitecent {
	color: white;
		margin: auto;
}

/*.text-block {
	width: 35rem;
	background-color: rgba(0, 0, 0, 0.4);
	margin: auto;
}*/

.orangeb {
	background-color: #F1AD1D !important;
	border-color: #F1AD1D !important;
/*	color: #F1AD1D !important;*/
}

.oranget {
	color: #F1AD1D !important;
}

#formulaire {
	width: 70%;
	max-width: 800px;
	margin: auto;
}

.radioUSB {
	margin-left: 2rem;
}

.send-button {
	float: right;
}

.pushright {
	margin-left: 1rem;
}

.ajout {
	margin-right: 2rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.form-control{
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	color: rgba(0,0,0,1);
}



/* HEADER FIX */

/* header */

nav{
	font-family: 'Lato', sans-serif;
	color: #505050;
	font-size: calc(0.5vw + 12px);
	background-color: #F1AD1D;
	z-index: 1000;
}

.navbar{
	position: fixed;
	opacity:0.2;
}

.navbar:hover{
	opacity: 1;
}

.navbar-brand{
	text-decoration: none;
}

.navbar-toggler {
	background-color: transparent;
	border: solid 1px #505050;
	font-size: 18px;
	padding: 12px 22px;
	color: #505050;
}

.dropdown-menu {
	padding: 20px 200px 20px 20px;
	margin-top: 0.5rem;
	background-color: #505050;
	border: #F1AD1D;
	border-radius: 0rem;
}

.a_header{
	margin: 0px 10px;
	color: #505050;
}

.nav-link:hover, .nav-link:active {
	color: #f1ad1d !important;
	background-color: #505050;
	border-radius: 30px;
}

.dropdown-menu .a_header:link, .a_header:visited {
	color: #f0f0f0;
	text-decoration: none;
	display: inline-block;
	background-color: #505050;
}

.dropdown-menu .a_header:hover, .a_header:active {
	color: #505050;
	background-color: #f1ad1d;
}


li a:link, a:visited {
	color: #f0f0f0;
	padding: .3rem 1.25rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

li a:hover, a:active {
	color: #505050;
	padding: .3rem 1.25rem;
}

.hidden {
	display: none;
}